.NotFound-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111827;
}

.NotFound-content {
  max-width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.NotFound-left-column {
  padding-right: 1rem;
  font-size: 1.125rem;
  color: #718096;
  border-right: 1px solid #cbd5e0;
}

.NotFound-right-column {
  margin-left: 1rem;
  font-size: 1.125rem;
  color: #718096;
  text-transform: uppercase;
}
